@import '../../styles/variables.scss';
@import '../../styles/button.scss';

.page-404 {
    display: grid;
    grid-template-columns: 1fr;

    margin: 0 auto;
    max-width: 70%;

}

.shadow {
    box-shadow: 2px 2px 10px $second-color;
}