@import '../../styles/variables.scss';
@import '../../styles/button.scss';

.search-page {
    display: grid;
    grid-template-columns: 1fr;

    max-width: 70%;
    margin: 0 auto;

    border: 2px solid $border-color;
    border-radius: 8px 30px 30px 8px;

    overflow: hidden;

    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        //grid-gap: 15px;


    }

    &__filter {
        display: grid;
        grid-template-columns: 1fr;

        border-bottom: 2px solid $border-color;
    }

    &__button-group {
        display: grid;
        grid-template-columns: 45% 10% 45%;

        grid-gap: 10px;
    }
}